
body {background: lightblue;}
ul{
	 margin:0;
	 list-style-type: none;
	 overflow: hidden;
	 padding:0;
}
li{
	float: left;
}

li a {
  display: block;
  /*width: 60px;*/
  padding: 8px;
  background-color: #dddddd;
}

.blogs a{
	text-decoration: none;
	color: blue;
	display: block;
	margin: 40px 0;
	padding-left: 30px;
	border-left: 6px solid rgba(0,0,0.2);
}
.blogs p {
	color: black;
}

.blogs a:hover h3{
	color: red;
}

.content {color: green;}

.details{
	position: relatvie;
}
.delete{
	position: absolute;
	background-color: #4CAF50; 
	top: 0;
	right: 0;
	border-radius: 50%;
	padding: 8px;
}

.delete:hover{
	cursor: pointer;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
